@using MarkhorTech.Web.Views.Portfolio

<ul class="list">

    <li>
        <a href="@Url.Action("MovingTrend","Portfolio" )" style="@ManageNavPages.MovingTrendNavClass(ViewContext)">Moving Trend Website</a>
    </li>

    <li>
        <a href="@Url.Action("EdgeTours","Portfolio" )" style="@ManageNavPages.EdgeToursNavClass(ViewContext)">Edge Tours Website</a>
    </li>

    <li>
        <a href="@Url.Action("MultiSmsSender","Portfolio" )" style="@ManageNavPages.MultiSmsSenderNavClass(ViewContext)">Multi SMS Sender Mobile Application</a>
    </li>

    <li>
        <a href="@Url.Action("PursaDrive","Portfolio" )" style="@ManageNavPages.PursaDriveNavClass(ViewContext)">Pursa Drive Mobile Application</a>
    </li>

    
</ul>
