@{
    ViewBag.Title = "Home";
}
<section class="main-slider" data-start-height="700" data-slide-overlay="yes">

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/444.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/444.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <h2 class="light">Mobile Application<br>Development</h2>
                    </div>


                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text light">To enhance interactive communications with <br> customers & clients</div>
                    </div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="btn-box"><a href="@Url.Action("CustomSoftwareDevelopment","Services")" class="theme-btn btn-style-one">OUR SERVICES</a><a href="@Url.Action("Contact","Home")" class="theme-btn btn-style-two mar-left-20">Contact Us</a></div>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/a1.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/a1.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <h2 class="light">Custom Software <br> Development Solutions</h2>
                    </div>


                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text light">Since 2015, we just don't solve the problems, <br> we deliver the solutions </div>
                    </div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="btn-box"><a href="@Url.Action("CustomSoftwareDevelopment","Services")" class="theme-btn btn-style-one">OUR SERVICES</a><a href="@Url.Action("Contact","Home")" class="theme-btn btn-style-two mar-left-20">Contact Us</a></div>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/2221.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/2221.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <h2 class="light">Point-of-Sale Software<br>Markhor Express</h2>
                    </div>


                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text light">Making payments secure, convenient<br>& reliable</div>
                    </div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="btn-box"><a href="@Url.Action("CustomSoftwareDevelopment","Services")"  class="theme-btn btn-style-one">OUR SERVICES</a><a href="@Url.Action("Contact","Home")" class="theme-btn btn-style-two mar-left-20">Contact Us</a></div>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/ws3.png" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/ws3.png" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <h2 class="light">Web Development<br>Solutions</h2>
                    </div>


                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text light">Latest techniques & technologies to increase your <br> clientele worldwide. Get it today!</div>
                    </div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="btn-box"><a href="@Url.Action("CustomSoftwareDevelopment","Services")"  class="theme-btn btn-style-one">OUR SERVICES</a><a href="@Url.Action("Contact","Home")" class="theme-btn btn-style-two mar-left-20">Contact Us</a></div>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/db12.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/db12.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <h2 class="light">Database Development</h2>
                    </div>


                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text light">Manage your enterprise data with online database & <br>access it from any where via internet connection</div>
                    </div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="btn-box"><a href="@Url.Action("CustomSoftwareDevelopment","Services")"  class="theme-btn btn-style-one">OUR SERVICES</a><a href="@Url.Action("Contact","Home")" class="theme-btn btn-style-two mar-left-20">Contact Us</a></div>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/666.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/666.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <h2 class="light">Tour & Travel Management <br> System Solutions </h2>
                    </div>


                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text light">Integrating technology to help your business <br> travel smarter </div>
                    </div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="btn-box"><a href="@Url.Action("CustomSoftwareDevelopment","Services")"  class="theme-btn btn-style-one">OUR SERVICES</a><a href="@Url.Action("Contact","Home")" class="theme-btn btn-style-two mar-left-20">Contact Us</a></div>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/2211.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/2211.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <h2 class="light">Customer Relationship<br> Management Solutions </h2>
                    </div>


                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text light">Take your business to new heights</div>
                    </div>

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="btn-box"><a href="@Url.Action("CustomSoftwareDevelopment","Services")"  class="theme-btn btn-style-one">OUR SERVICES</a><a href="@Url.Action("Contact","Home")" class="theme-btn btn-style-two mar-left-20">Contact Us</a></div>
                    </div>

                </li>

                <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-thumb="images/main-slider/1000.jpg" data-saveperformance="off" data-title="Awesome Title Here">
                    <img src="images/main-slider/1000.jpg" alt="" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="-100"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <h2 class="light">Industry Leaders in <br> ERP Solutions</h2>
                    </div>


                    <div class="tp-caption sfr sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="20"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="text light">Always focus on delivering specialised softwares which <br> helps in managing your business in your own way</div>
                    </div>



                    <div class="tp-caption sfl sfb tp-resizeme"
                         data-x="left" data-hoffset="15"
                         data-y="center" data-voffset="110"
                         data-speed="1500"
                         data-start="0"
                         data-easing="easeOutExpo"
                         data-splitin="none"
                         data-splitout="none"
                         data-elementdelay="0.01"
                         data-endelementdelay="0.3"
                         data-endspeed="1200"
                         data-endeasing="Power4.easeIn">
                        <div class="btn-box"><a href="@Url.Action("CustomSoftwareDevelopment","Services")"  class="theme-btn btn-style-one">OUR SERVICES</a><a href="@Url.Action("Contact","Home")" class="theme-btn btn-style-two mar-left-20">Contact Us</a></div>
                    </div>

                </li>

            </ul>

            <div class="tp-bannertimer"></div>
        </div>
    </div>
</section>
<section class="default-section">
    <div class="auto-container">
        <div id="heading-color" class="row">
            <div class="services-block-six col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="glyphicon glyphicon-phone"></span>
                    </div>
                    <a href="@Url.Action("MobileAppDevelopment","Services")"><h4>Mobile Application Develoment</h4></a>
                    <div class="text">
                        Turn your great ideas into profitable mobile and software products with our excellent mobile app development and software development services.
                    </div>
                </div>
            </div>
            <div class="services-block-six col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="fa fa-desktop"></span>
                    </div>
                    <a href="@Url.Action("WebDevelopment","Services")"><h4>Web Application Development</h4></a>
                    <div class="text">
                        As web technology moves, so do we. And as your business grows and changes, so does our expertise, constantly adapting to your needs and objectives.
                    </div>
                </div>
            </div>
            <div class="services-block-six col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="fa fa-gears"></span>
                    </div>
                    <a href="@Url.Action("POSSolutions","Services")"><h4>POS, CRM & ERP <br /> Solutions</h4></a>
                    <div class="text">
                        Complete product invention covering all functional obligations of a modern enterprise, realize strategic goals with one application across the company.
                    </div>
                </div>
            </div>
            <div class="services-block-six col-md-3 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="icon-box">
                        <span class="glyphicon glyphicon-plane"></span>
                    </div>
                    <a href="@Url.Action("TourAndTravelManagement","Products")"><h4>Tour & Travel Management Solutions</h4></a>
                    <div class="text">
                        System is designed & developed for travelling agencies & used for dealing with activities like package tours, hotel & air tickets booking, visa processing etc.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- services -->
<section class="services-section gray_bg">
    <div class="auto-container">

        <!--Services Box-->
        <div class="services-box">
            <div class="row clearfix">
                <div class="col-md-4 col-sm-12">
                    <!--Sec Title-->
                    <div class="sec-title">
                        <h2>Our <span class="theme_color">Services</span></h2>
                        <span class="separator"></span>
                    </div>
                    <div class="working-experience mar-bottom-30">
                        <div class="count-box">3</div><p>Years <br>Of Working <br>Experince</p>
                    </div>
                    <div class="text mar-top-6-minus mar-bottom-30">Since 2015, Markhor Technologies has been delivering full cycle Software Development Services to customers.</div>
                    <div class="link"><a href="@Url.Action("CustomSoftwareDevelopment","Services")" class="theme-btn btn-style-one">All Services</a></div>
                </div>
                <div class="col-md-8 col-sm-12">
                    <div class="two-item-carousel owl-theme owl-carousel owl-loaded owl-nav-none owl-dots-none">

                        <!--<div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/resource/service-1.jpg" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="services-single.html">Business Strategy</a></h3>
                                    <div class="text">These days are all share them with me baby said inspet Californy till the one day.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/resource/service-2.jpg" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="services-single.html">Customer Insights</a></h3>
                                    <div class="text">These days are all share them with me baby said inspet Californy till the one day.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>-->

                        <div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/custom-software-development.png" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="@Url.Action("CustomSoftwareDevelopment","Services")">Custom Software Development</a></h3>
                                    <div class="text">Increase your Return On Investment using our tailor-made applications.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/Web-Application-Development.png" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="@Url.Action("WebDevelopment","Services")">Web Application Development</a></h3>
                                    <div class="text">We provide comprehensive Web solutions as per the requirement of the clients.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/MobileApplicationDevelopment.jpg" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="@Url.Action("MobileAppDevelopment","Services")">Mobile Application Development</a></h3>
                                    <div class="text">We bring ideas to life by creating beautiful, robust and successful mobile appllications.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/database-development.png" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="@Url.Action("DatabaseDevelopment","Services")">Database Development & Design</a></h3>
                                    <div class="text">We provide database applications using Microsoft SQL Server.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/Travel-Services-1.jpg" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="@Url.Action("TourAndTravelManagement","Products")">Tour & Travel Management Solutions</a></h3>
                                    <div class="text">We combine industry expertise with technology to save your time & money.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/ERPServices.png" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="@Url.Action("ERPSolutions","Services")">Enterprise Resource Planning (ERP) Solutions</a></h3>
                                    <div class="text">Solutions to automate your campus processes saving money & manual labour.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/POS.png" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="@Url.Action("POSSolutions","Services")">point of sale (POS) <br /> Solutions</a></h3>
                                    <div class="text">Take care of your customers; we will take care of the technology.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                        <div class="services-block-three">
                            <div class="inner-box">
                                <div class="image">
                                    <img src="images/gallery/CRM-features.png" alt="">
                                    <div class="overlay-box">
                                        <span class="icon flaticon-line-chart"></span>
                                    </div>
                                </div>
                                <div class="lower-box">
                                    <h3><a href="@Url.Action("CRMSolutions","Services")">Customer Relationship Management Solutions</a></h3>
                                    <div class="text">Custom & smart CRM solutions for your sustainable business.</div>
                                    <a href="services-single.html" class="arrow"><span class="fa fa-angle-right"></span></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--Two Default Section-->
<section class="default-section-two">
    <div class="auto-container">
        <div class="sec-title">
            <h2>About <span class="theme_color">Us</span></h2>
            <span class="separator"></span>
        </div>

        <div class="row">

            <div class="about-column column col-md-6 col-sm-12 col-xs-12">
                <div class="inner">
                    <div class="image-box"><img src="images/resource/s11.jpg" alt=""></div>
                    <div class="row clearfix">
                        <!--Text Column-->
                        <div class="text-column col-md-6 col-sm-6 col-xs-12">
                            <h3>Who We Are?</h3>
                            <div class="text">Markhor Technologies is a leading global provider of software engineering services for companies in the mobile, desktop, server, and embedded systems industries. </div>
                            <div class="btn-box"><a href="@Url.Action("About","Home")" class="theme-btn btn-style-one">Learn More</a></div>
                        </div>
                        <!--Text Column-->
                        <div class="text-column col-md-6 col-sm-6 col-xs-12">
                            <h3>Our Mission</h3>
                            <div class="text">We love to build and refine technologies that improve lives while developing great relationships along the way.  </div>
                            <div class="signature text-right"><img src="images/resource/signature.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Accordion Column-->
            <div class="accordion-block column col-lg-6 col-md-12 col-sm-12">

                <!--Accordion Box-->
                <ul class="accordion-box">

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn active"><div class="icon-outer"><span class="icon icon-plus fa fa-caret-down"></span> <span class="icon icon-minus fa fa-caret-up"></span></div>How can I request a change in my project / code / application?</div>
                        <div class="acc-content current">
                            <div class="content">
                                <p> Markhor Technologies follows a standard procedure in this regard. As soon as a change request is submitted, it is first confirmed by the client, and an impact analysis is performed. We get back to the client with altered deadlines and estimation of charges. Once the approximations are sanctioned, we start employing the modifications at the earliest. </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-caret-down"></span> <span class="icon icon-minus fa fa-caret-up"></span></div>How many changes can I make to my site without additional cost?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p> We give as much opportunity as we possibly can for changes and give 6 months maintenance service free of cost. After you’ve recognized the common format and color schemes of your favored design, we will complete up to two rounds of major adjustments at no charge. Other minor changes are provided at no charge but within the period of 6 months. If a client wants to add extra feature in website, then he/she has to pay for it.</p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-caret-down"></span> <span class="icon icon-minus fa fa-caret-up"></span></div>How does the payment process work?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>The project starts with a 50% deposit. After design sign off and before we move into development phase, we collect client ideas and needs regarding business website. Formerly we have fulfilled and completed our scope, the remaining 50% is collected and your website is then ready for launch. </p>
                            </div>
                        </div>
                    </li>

                    <!--Block-->
                    <li class="accordion block">
                        <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-caret-down"></span> <span class="icon icon-minus fa fa-caret-up"></span></div>Will you provide a full copy/backup of our site if requested?</div>
                        <div class="acc-content">
                            <div class="content">
                                <p>Yes we provide full copy or backup on clients’ requirement at no cost! A website owner 100% possess everything on his requirement that Markhor Technologies develops for them, and if requested we will provide just the once full backup of client’s website. If other backups are required, there is a nominal charge of generally of work.</p>
                            </div>
                        </div>
                    </li>

                </ul>
                <!--End Accordion Box-->
            </div>
        </div>
    </div>
</section>
<!--End Two Default Section-->
<!--Fun Facts Section-->
<!--<div class="fact-counter-column" data-parallax="scroll" data-image-src="images/background/2.jpg"">
    <div class="auto-container">
        <div class="fact-counter">
            <div class="row clearfix">-->
<!--Column
<div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12">
    <div class="inner">
        <div class="icon-box"><i class="flaticon-travel-1"></i></div>
        <div class="count-outer">
            <span class="count-text" data-speed="2000" data-stop="1275">0</span>
        </div>
        <h4 class="counter-title">Project Finished</h4>
    </div>
</div>

<!--Column-->
<!--<div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12">
    <div class="inner">
        <div class="icon-box"><i class="flaticon-light-bulb"></i></div>
        <div class="count-outer">
            <span class="count-text" data-speed="3000" data-stop="5720">0</span>
        </div>
        <h4 class="counter-title">Successful Projects</h4>
    </div>
</div>-->
<!--Column-->
<!--<div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12">
    <div class="inner">
        <div class="icon-box"><i class="flaticon-competition"></i></div>
        <div class="count-outer">
            <span class="count-text" data-speed="2000" data-stop="970">0</span>
        </div>
        <h4 class="counter-title">Awards Winning</h4>
    </div>
</div>-->
<!--Column-->
<!--<div class="column counter-column wow fadeIn col-md-3 col-sm-6 col-xs-12">
    <div class="inner">
        <div class="icon-box"><i class="flaticon-coffee-cup"></i></div>
        <div class="count-outer">
            <span class="count-text" data-speed="2000" data-stop="2492">0</span>
        </div>
        <h4 class="counter-title">Cup Of Coffee</h4>
    </div>
</div>-->
<!--</div>
        </div>
    </div>
</div>-->
<!--Fun Facts Section-->
<!-- Projects Section-->
<!--<section class="projects">
    <div class="auto-container">
        <div class="sec-title center">
            <h2>Latest <span class="theme_color">Projects</span></h2>
            <span class="separator"></span>
        </div>
        <ul class="post-filter text-center list-inline">
            <li class="active" data-filter=".default-portfolio-item">
                <span>View All</span>
            </li>
            <li data-filter=".Consulting">
                <span>Consulting</span>
            </li>
            <li data-filter=".Finance">
                <span>Finance</span>
            </li>
            <li data-filter=".Marketing">
                <span>Marketing</span>
            </li>
            <li data-filter=".Growth">
                <span>Growth</span>
            </li>
        </ul>
        <div class="row clearfix masonary-layout filter-layout">-->
<!--Default Portfolio Item-->
<!--<div class="default-portfolio-item Growth col-md-4 col-sm-6 col-xs-12">
    <div class="inner hover-style1">
        <figure class="hover-style1-img">
            <img src="images/gallery/1.jpg" alt="image">
            <div class="hover-style1-view">
                <a class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery" href="images/gallery/1.jpg">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
        </figure>
        <div class="hover-style1-title title-style-1">
            <h3><a href="#">project title</a></h3>
            <span>client name</span>
        </div>
    </div>
</div>-->
<!--Default Portfolio Item-->
<!--<div class="default-portfolio-item Consulting Marketing col-md-4 col-sm-6 col-xs-12">
    <div class="inner hover-style1">
        <figure class="hover-style1-img">
            <img src="images/gallery/2.jpg" alt="image">
            <div class="hover-style1-view">
                <a class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery" href="images/gallery/2.jpg">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
        </figure>
        <div class="hover-style1-title title-style-1">
            <h3><a href="#">project title</a></h3>
            <span>client name</span>
        </div>
    </div>
</div>-->
<!--Default Portfolio Item-->
<!--<div class="default-portfolio-item Finance col-md-4 col-sm-6 col-xs-12">
    <div class="inner hover-style1">
        <figure class="hover-style1-img">
            <img src="images/gallery/3.jpg" alt="image">
            <div class="hover-style1-view">
                <a class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery" href="images/gallery/3.jpg">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
        </figure>
        <div class="hover-style1-title title-style-1">
            <h3><a href="#">project title</a></h3>
            <span>client name</span>
        </div>
    </div>
</div>-->
<!--Default Portfolio Item-->
<!--<div class="default-portfolio-item Marketing Growth col-md-4 col-sm-6 col-xs-12">
    <div class="inner hover-style1">
        <figure class="hover-style1-img">
            <img src="images/gallery/4.jpg" alt="image">
            <div class="hover-style1-view">
                <a class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery" href="images/gallery/4.jpg">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
        </figure>
        <div class="hover-style1-title title-style-1">
            <h3><a href="#">project title</a></h3>
            <span>client name</span>
        </div>
    </div>
</div>-->
<!--Default Portfolio Item-->
<!--<div class="default-portfolio-item Finance col-md-4 col-sm-6 col-xs-12">
    <div class="inner hover-style1">
        <figure class="hover-style1-img">
            <img src="images/gallery/5.jpg" alt="image">
            <div class="hover-style1-view">
                <a class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery" href="images/gallery/5.jpg">
                    <i class="fa fa-eye"></i>
                </a>
            </div>
        </figure>
        <div class="hover-style1-title title-style-1">
            <h3><a href="#">project title</a></h3>
            <span>client name</span>
        </div>
    </div>
</div>-->
<!--Default Portfolio Item-->
<!--<div class="default-portfolio-item Marketing Growth col-md-4 col-sm-6 col-xs-12">
                <div class="inner hover-style1">
                    <figure class="hover-style1-img">
                        <img src="images/gallery/6.jpg" alt="image">
                        <div class="hover-style1-view">
                            <a class="lightbox-image option-btn" title="Image Caption Here" data-fancybox-group="example-gallery" href="images/gallery/6.jpg">
                                <i class="fa fa-eye"></i>
                            </a>
                        </div>
                    </figure>
                    <div class="hover-style1-title title-style-1">
                        <h3><a href="#">project title</a></h3>
                        <span>client name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--End Projects Section-->
<!--<section class="default-section black-bg">-->
<!--<div class="auto-container">
    <div class="row clearfix">
        <div class="col-md-6 col-sm-12">
            video-box
            <div class="video-image-box mar-bottom-40">
                <figure class="image">
                    <img src="images/gallery/10.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=nfP5N9Yc72A&amp;t=28s" class="overlay-link lightbox-image video-fancybox"><span class="icon flaticon-play-button"></span></a>
                </figure>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="feature-block-two">
                <h2>We provide high quality and Best Productive services</h2>
                <h4>Since our foundation in 2005 our goal has been to use digital technology to create experiences.</h4>
                <div class="text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since. Lorem Ipsum has been the industry. Lorem Ipsum has been the industry's standard dummy text since. Lorem Ipsum is simply dummy text of the printing.</div>
                <div class="link"><a href="#" class="theme-btn btn-style-two">Our Services</a></div>
            </div>
        </div>
    </div>
</div>-->
<!--</section>-->
<!--Testimonail Section-->
<!--<section class="team-section">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Meet Our <span class="theme_color">Team</span></h2>
            <span class="separator"></span>
        </div>
        <div class="three-item-carousel owl-theme owl-carousel owl-loaded owl-nav-none owl-dots-none">
            <div class="team-block-one">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/staff-8.jpg" alt="">
                    </div>
                    <h3>STEVEN SMITH</h3>
                    <div class="designation">Sports Teacher</div>
                    <div class="text">The ship set ground on the shore of this uncharted a desert isle with that this group.</div>
                    <ul class="social-icons clearfix">
                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-block-one">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/staff-9.jpg" alt="">
                    </div>
                    <h3>STEVEN SMITH</h3>
                    <div class="designation">Sports Teacher</div>
                    <div class="text">The ship set ground on the shore of this uncharted a desert isle with that this group.</div>
                    <ul class="social-icons clearfix">
                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="team-block-one">
                <div class="inner-box">
                    <div class="image-box">
                        <img src="images/resource/staff-10.jpg" alt="">
                    </div>
                    <h3>STEVEN SMITH</h3>
                    <div class="designation">Sports Teacher</div>
                    <div class="text">The ship set ground on the shore of this uncharted a desert isle with that this group.</div>
                    <ul class="social-icons clearfix">
                        <li><a href="#"><span class="fa fa-facebook-f"></span></a></li>
                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                        <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>-->
<!--End Testimonail Section-->
<!--News Section-->
<!--<section class="news-section gray_bg">
    <div class="auto-container">
        <div class="sec-title">
            <h2>Latest <span class="theme_color">News</span></h2>
            <span class="separator"></span>
        </div>

        <div class="row clearfix">-->
<!--News Block-->
<!--<div class="news-block col-md-4 col-sm-6 col-xs-12">
    <div class="inner-box wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
        <figure class="image-box">
            <a href="news-detail.html"><img src="images/resource/news-6.jpg" alt="" /></a>
            <a class="read-more" href="news-detail.html">Read More <span class="icon fa fa-long-arrow-right"></span></a>
        </figure>
        <div class="lower-content">
            <div class="upper-box">
                <h3><a href="news-detail.html">Income Increase Shows the Recovery Is Very Much Real</a></h3>
                <div class="lower-box">
                    <div class="date">October 01, 2016 / <a href="news-detail.html">5 Comments</a></div>
                </div>
                <div class="text">At the end of the day, going forward, a new normal that has evolved from generation is on the runway heading towards. </div>
            </div>


        </div>
    </div>
</div>-->
<!--News Block-->
<!--<div class="news-block col-md-4 col-sm-6 col-xs-12">
    <div class="inner-box wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
        <figure class="image-box">
            <a href="news-detail.html"><img src="images/resource/news-7.jpg" alt="" /></a>
            <a class="read-more" href="news-detail.html">Read More <span class="icon fa fa-long-arrow-right"></span></a>
        </figure>
        <div class="lower-content">
            <div class="upper-box">
                <h3><a href="news-detail.html">An Economics Nobel awarded for Examining Reality</a></h3>
                <div class="lower-box">
                    <div class="date">October 03, 2016 / <a href="news-detail.html">3 Comments</a></div>
                </div>
                <div class="text">At the end of the day, going forward, a new normal that has evolved from generation is on the runway heading towards. </div>
            </div>


        </div>
    </div>
</div>-->
<!--News Block-->
<!--<div class="news-block col-md-4 col-sm-6 col-xs-12">
    <div class="inner-box wow fadeInLeft" data-wow-delay="600ms" data-wow-duration="1500ms">
        <figure class="image-box">
            <a href="news-detail.html"><img src="images/resource/news-8.jpg" alt="" /></a>
            <a class="read-more" href="news-detail.html">Read More <span class="icon fa fa-long-arrow-right"></span></a>
        </figure>
        <div class="lower-content">
            <div class="upper-box">
                <h3><a href="news-detail.html">Maybe Supply-Side Economics Deserves a Second Look</a></h3>
                <div class="lower-box">
                    <div class="date">October 05, 2016 / <a href="news-detail.html">1 Comments</a></div>
                </div>
                <div class="text">At the end of the day, going forward, a new normal that has evolved from generation is on the runway heading towards. </div>
            </div>


        </div>
    </div>
</div>-->
<!--</div>

    </div>
</section>-->
<!--News Section-->
<!--Sponsors Style Two-->

<section class="sponsors-style-one">
    <div class="auto-container">
        <div class="sec-title center">
            <h2>Our <span class="theme_color">Clients</span> </h2>
            <span class="separator"></span>
        </div>
        <!--Sponsors Slider-->
        <ul class="sponsors-carousel-one owl-theme owl-carousel">
            <li><div class="image-box tool_tip" title="media partner"><a href="http://geogilgit.org/"><img src="images/sponsors/9.png" alt=""></a></div></li>
            <li><div class="image-box tool_tip" title="media partner"><a href="http://www.edgetours.ae/"><img src="images/sponsors/10.png" alt=""></a></div></li>
            <li><div class="image-box tool_tip" title="media partner"><a href="http://www.movingtrend.com/"><img src="images/sponsors/7.png" alt=""></a></div></li>
            <li><div class="image-box tool_tip" title="media partner"><a href="http://www.crovtech.com/"><img src="images/sponsors/12.png" alt=""></a></div></li>
            <li><div class="image-box tool_tip" title="media partner"><a ><img src="images/sponsors/8.png" alt=""></a></div></li>
        </ul>
    </div>
</section>






