@using MarkhorTech.Web.Views.Services

<ul class="list">
    <li >
        <a href="@Url.Action("CustomSoftwareDevelopment", "Services")" style="@ManageNavPages.CustomSoftwareDevelopmentNavClass(ViewContext)"> Custom Software Development</a>       
    </li>

    <li>
        <a href="@Url.Action("WebDevelopment", "Services")" style="@ManageNavPages.WebDevelopmentNavClass(ViewContext)">Web Development</a>
    </li>
    
    <li>
        <a href="@Url.Action("MobileAppDevelopment", "Services")" style="@ManageNavPages.MobileAppDevelopmentNavClass(ViewContext)">Mobile Application Development</a>
    </li>

    <li>
        <a href="@Url.Action("DatabaseDevelopment", "Services")" style="@ManageNavPages.DatabaseDevelopmentNavClass(ViewContext)">Database Development</a>
    </li>

    <li>
        <a href="@Url.Action("POSSolutions", "Services")" style="@ManageNavPages.POSSolutionsNavClass(ViewContext)">POS Solutions</a>
    </li>

    <li>
        <a href="@Url.Action("ERPSolutions", "Services")" style="@ManageNavPages.ERPSolutionsNavClass(ViewContext)">ERP Solutions</a>
    </li>

    <li>
        <a href="@Url.Action("CRMSolutions", "Services")" style="@ManageNavPages.CRMSolutionsNavClass(ViewContext)">CRM Solutions</a>
    </li>

   
</ul>
