
  
          <!--Content Side-->
<!--Sidebar-->
<div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
    <aside class="sidebar blog-sidebar">

        <!-- Search Form -->
        @*<div class="sidebar-widget search-box">
                <div class="sidebar-title"><h2>Search</h2></div>
                <form method="post" action="http://html.tonatheme.com/2017/Corpro_template/blog.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="Search here..">
                        <button type="submit"><span class="icon fa fa-search"></span></button>
                    </div>
                </form>
            </div>*@

        <!-- Categories -->
        <div class="sidebar-widget recent-articles wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="sidebar-title"><h2>Services</h2></div>
            <ul class="list">
                <li><a href="@Url.Action("WebDevelopment","Services")" class="clearfix">Web Design & Development</a></li>
                <li><a href="@Url.Action("MobileAppDevelopment", "Services")" class="clearfix">Mobile Application Development </a></li>
                <li><a href="@Url.Action("DatabaseDevelopment","Services")" class="clearfix">Database Design & Development </a></li>
                <li><a href="@Url.Action("POSSolutions","Services")" class="clearfix">Point of Sale Solutions</a></li>
                <li><a href="@Url.Action("CRMSolutions","Services")" class="clearfix">CRM Solutions </a></li>
                <li><a href="@Url.Action("ERPSolutions","Services")" class="clearfix">ERP Solutions </a></li>
            </ul>
        </div>

        <!-- Popular Posts -->
        <div class="sidebar-widget popular-posts wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
            <div class="sidebar-title"><h2>Latest News</h2></div>

            <article class="post">
                <figure class="post-thumb"><a href="blog-single.html"><img src="~/images/resource/news-thumb-1.jpg" alt=""></a></figure>
                <h4><a href="blog-single.html">Credit Suisse CEO focuses on wealth management</a></h4>
                <div class="post-info">October 03, 2016 / <a href="blog-single.html">3 Comments</a></div>
            </article>

            <article class="post">
                <figure class="post-thumb"><a href="blog-single.html"><img src="~/images/resource/news-thumb-2.jpg" alt=""></a></figure>
                <h4><a href="blog-single.html">Credit Suisse CEO focuses on wealth management</a></h4>
                <div class="post-info">October 03, 2016 / <a href="blog-single.html">3 Comments</a></div>
            </article>

            <article class="post">
                <figure class="post-thumb"><a href="blog-single.html"><img src="~/images/resource/news-thumb-3.jpg" alt=""></a></figure>
                <h4><a href="blog-single.html">Credit Suisse CEO focuses on wealth management</a></h4>
                <div class="post-info">October 03, 2016 / <a href="blog-single.html">3 Comments</a></div>
            </article>

        </div>

        <!-- Tags -->
        @*<div class="sidebar-widget popular-tags wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <div class="sidebar-title"><h2>Tags</h2></div>
                <a href="#">Audit</a>
                <a href="#">Business</a>
                <a href="#">Consuling</a>
                <a href="#">Investment</a>
                <a href="#">Agent</a>
                <a href="#">Employment</a>
                <a href="#">Careers</a>
                <a href="#">Planning</a>
            </div>*@

    </aside>


</div>
<!--Sidebar-->
